body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(202, 202, 202);
  font-size: large;
  height: 100vh;
}

a:hover,
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.block {
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.error {
  color: rgb(255, 0, 0);
  margin: auto;
  max-width: 400px;
  margin-top: 20px;
  padding: 5px;
}

.general-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bg {
  background-color: aliceblue;
  width: fit-content;
  margin: auto;
  padding: 50px;
  border: 2px solid rgb(0, 0, 0);
}

.org-name a {
  font-family: Verdana, Tahoma, sans-serif;
  color: black !important;
}

.loading {
  font-stretch: extra-expanded;
  font-size: xx-large;
}

input {
  padding: 4px;
  border-radius: 6px;
  width: 250px !important;
}

button:disabled {
  background-color: rgb(101, 160, 255);
  color: black;
}

.org-logo {
  width: 50px;
  border-radius: 50% !important;
  border: 2px solid black;
}

.org-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.org-logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
